In [63]:
import pandas as pd
from pyspark.sql.functions import col, to_date
from datetime import datetime
import logging

In [72]:
print('Reading File')
df = pd.read_csv("transaction_data.csv")

Reading File

In [154]:
silver_df=pd.read_csv("silver_transaction_data.csv")
print(silver_df)

  transaction_id customer_id  transaction_amount transaction_date  \
0         TXN001    CUST1001              250.00       01-05-2024
1         TXN002    CUST1002              150.75       02-05-2024
2         TXN004    CUST1004                0.00       04-05-2024
3         TXN005    CUST1005              300.00       05-05-2024
4         TXN007    CUST1007              180.25       07-05-2024
5         TXN008    CUST1008              230.00       07-05-2024
6         TXN009    CUST1009              250.00       07-05-2024
7         TXN010    CUST1010              190.00       08-05-2024
8         TXN012    CUST1012              320.00       09-05-2024

  payment_method     status
0    Credit Card  Completed
1     Debit Card  Completed
2    Credit Card    Pending
3           Cash  Completed
4     Debit Card  Completed
5    Credit Card  Completed
6    Credit Card  Completed
7     Debit Card     Failed
8    Credit Card  Completed

In [73]:
print(df)

   transaction_id customer_id  transaction_amount transaction_date  \
0          TXN001    CUST1001              250.00       01-05-2024
1          TXN002    CUST1002              150.75       02-05-2024
2          TXN003    CUST1003              -50.00       03-05-2024
3          TXN004    CUST1004                0.00       04-05-2024
4          TXN005    CUST1005              300.00       05-05-2024
5          TXN006    CUST1006              450.50              NaN
6          TXN007    CUST1007              180.25       07-05-2024
7          TXN008    CUST1008              230.00       07-05-2024
8          TXN009    CUST1009              250.00       07-05-2024
9          TXN010    CUST1010              190.00       08-05-2024
10         TXN001    CUST1001              250.00       01-05-2024
11            NaN                          100.00       09-05-2024
12         TXN012    CUST1012              320.00       09-05-2024

   payment_method     status
0     Credit Card  Completed
1      Debit Card  Completed
2            Cash     Failed
3     Credit Card    Pending
4            Cash  Completed
5     Credit Card  Completed
6      Debit Card  Completed
7     Credit Card  Completed
8     Credit Card  Completed
9      Debit Card     Failed
10    Credit Card  Completed
11           Cash  Completed
12    Credit Card  Completed

In [ ]:
df1 = df[df['transaction_amount'].apply(lambda x: isinstance(x, (int, float)) and x >= 0)]
print(df1)

   transaction_id customer_id  transaction_amount transaction_date  \
0          TXN001    CUST1001              250.00       01-05-2024
1          TXN002    CUST1002              150.75       02-05-2024
3          TXN004    CUST1004                0.00       04-05-2024
4          TXN005    CUST1005              300.00       05-05-2024
5          TXN006    CUST1006              450.50              NaN
6          TXN007    CUST1007              180.25       07-05-2024
7          TXN008    CUST1008              230.00       07-05-2024
8          TXN009    CUST1009              250.00       07-05-2024
9          TXN010    CUST1010              190.00       08-05-2024
10         TXN001    CUST1001              250.00       01-05-2024
11            NaN                          100.00       09-05-2024
12         TXN012    CUST1012              320.00       09-05-2024

   payment_method     status
0     Credit Card  Completed
1      Debit Card  Completed
3     Credit Card    Pending
4            Cash  Completed
5     Credit Card  Completed
6      Debit Card  Completed
7     Credit Card  Completed
8     Credit Card  Completed
9      Debit Card     Failed
10    Credit Card  Completed
11           Cash  Completed
12    Credit Card  Completed

In [ ]:
# df2 = df[df['transaction_date'].apply(lambda x: isinstance(x, (int, float)) and x >= 0)]

def test_transaction_date_and_Transaction_id_null():
    columns_to_check = ['transaction_date', 'transaction_id']
    has_nulls = df[columns_to_check].isnull().any(axis=1).sum()
    assert has_nulls == 0, "Null Records are present in transaction_date and transaction_id"
    logging.info("✅ test_transaction_date_format passed.")


#columns_to_check = ['transaction_date', 'transaction_id']
#has_nulls = df[columns_to_check].isnull().any(axis=1).sum()
#print(has_nulls)
# Filter rows with nulls in any of those columns

#print(df_with_nulls)

2

In [87]:
columns_to_check = ['transaction_date', 'transaction_id']
has_nulls = df[~df[columns_to_check].isnull().any(axis=1)]

print(has_nulls)
#merged_df = pd.concat([df1, has_nulls]).drop_duplicates(subset='transaction_id')
#print(merged_df)

   transaction_id customer_id  transaction_amount transaction_date  \
0          TXN001    CUST1001              250.00       01-05-2024
1          TXN002    CUST1002              150.75       02-05-2024
2          TXN003    CUST1003              -50.00       03-05-2024
3          TXN004    CUST1004                0.00       04-05-2024
4          TXN005    CUST1005              300.00       05-05-2024
6          TXN007    CUST1007              180.25       07-05-2024
7          TXN008    CUST1008              230.00       07-05-2024
8          TXN009    CUST1009              250.00       07-05-2024
9          TXN010    CUST1010              190.00       08-05-2024
10         TXN001    CUST1001              250.00       01-05-2024
12         TXN012    CUST1012              320.00       09-05-2024

   payment_method     status
0     Credit Card  Completed
1      Debit Card  Completed
2            Cash     Failed
3     Credit Card    Pending
4            Cash  Completed
6      Debit Card  Completed
7     Credit Card  Completed
8     Credit Card  Completed
9      Debit Card     Failed
10    Credit Card  Completed
12    Credit Card  Completed

In [107]:

def final_ouput_with_notnull_negative_amount_filter():
    columns_to_check = ['transaction_date', 'transaction_id']
    has_nulls = df[~df[columns_to_check].isnull().any(axis=1)]
    final_df= has_nulls[has_nulls['transaction_amount'].apply(lambda x: isinstance(x, (int, float)) and x >= 0)]
    final_df['transaction_date']=pd.to_datetime(final_df['transaction_date'],format = "%d-%m-%Y")
    return final_df
filtered_df= final_ouput_with_notnull_negative_amount_filter()
print(filtered_df)

   transaction_id customer_id  transaction_amount transaction_date  \
0          TXN001    CUST1001              250.00       2024-05-01
1          TXN002    CUST1002              150.75       2024-05-02
3          TXN004    CUST1004                0.00       2024-05-04
4          TXN005    CUST1005              300.00       2024-05-05
6          TXN007    CUST1007              180.25       2024-05-07
7          TXN008    CUST1008              230.00       2024-05-07
8          TXN009    CUST1009              250.00       2024-05-07
9          TXN010    CUST1010              190.00       2024-05-08
10         TXN001    CUST1001              250.00       2024-05-01
12         TXN012    CUST1012              320.00       2024-05-09

   payment_method     status
0     Credit Card  Completed
1      Debit Card  Completed
3     Credit Card    Pending
4            Cash  Completed
6      Debit Card  Completed
7     Credit Card  Completed
8     Credit Card  Completed
9      Debit Card     Failed
10    Credit Card  Completed
12    Credit Card  Completed

C:\Users\Ramesh\AppData\Local\Temp\ipykernel_17572\1122247346.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['transaction_date']=pd.to_datetime(final_df['transaction_date'],format = "%d-%m-%Y")

In [110]:
def final_ouput_with_notnull_negative_amount_filter():
    columns_to_check = ['transaction_date', 'transaction_id']
print(columns_to_check)

['transaction_date', 'transaction_id']

In [76]:

    has_duplicate = df.duplicated(subset='transaction_id').sum()
    print(has_duplicate)
    #assert has_duplicate == 0, "Null Records are present in transaction_date and transaction_id"
    #logging.info("Records are present in transaction_date and transaction_id.")

1

In [122]:
def Test_File_Empty_schema_column():
    required_columns ={"transaction_id","customer_id","transaction_amount","transaction_date","payment_method","status"}
    check_empty=not df.empty
    schema_column_check=required_columns.issubset(df.columns)
    #assert check_empty & schema_column_check==True,"Given file is Empty or having column mismatch"
    #logging.info("File contain records and not empty and table structure like columns are matching")
    return check_empty
qsq=Test_File_Empty_schema_column()
print(qsq)

True

In [139]:
def test_max_transaction_date():
# Ensure final_df['transaction_date'] is correctly converted (use final_df, not df)
    df.loc[:, 'transaction_date']=pd.to_datetime(df['transaction_date'], format="%d-%m-%Y", errors='coerce')

# Convert silver_df dates as well, if not already
    silver_df['transaction_date'] = pd.to_datetime(silver_df['transaction_date'], format="%d-%m-%Y", errors='coerce')

# Get max dates
    raw_maxdate = final_df['transaction_date'].max()
    silver_maxdate = silver_df['transaction_date'].max()

# Assert that raw has newer or same data as silver
    assert raw_maxdate >= silver_maxdate, "No incremental data"
    print("No incremental data")

In [ ]:

    
new_rows = df[~df["transaction_id"].isin(silver_df["transaction_id"])]
expected_new = len(new_rows)
combined = pd.concat([silver_df, new_rows]).drop_duplicates(subset="transaction_id")
actual_new = len(combined) - len(silver_df)
assert actual_new == expected_new, f"Expected {expected_new}, got {actual_new} new rows"
print('new records present')

new records

In [145]:
overlapping = set(df['transaction_id']).intersection(silver_df['transaction_id'])

# Assert no duplicates exist
assert len(overlapping) == 0, f"Duplicate transaction_ids found: {list(overlapping)}"
print('working')

AssertionError: Duplicate transaction_ids found: ['TXN007', 'TXN001', 'TXN002', 'TXN004', 'TXN009', 'TXN010', 'TXN008', 'TXN012', 'TXN005']

In [151]:
overlapping = set(df["transaction_id"]).intersection(set(silver_df["transaction_id"]))
assert len(overlapping) != 0, f"Duplicate transaction_ids found: {overlapping}"

In [165]:

# Get count before ingestion
initial_count = silver_df.shape[0]

# Perform deduplication logic (based on unique transaction_id)
# Combine both and drop duplicates to simulate idempotent ingestion
combined_df = pd.concat([silver_df, df])
combined_df = combined_df.drop_duplicates(subset=["transaction_id"])

# Save updated silver table (optional)
# combined_df.to_csv("silver_data.csv", index=False)

# Validation: check if new rows were added
final_count = combined_df.shape[0]
new_rows_added = final_count - initial_count

assert new_rows_added == 0, f"Test failed: {new_rows_added} duplicate rows were added!"
print("✅ Duplicate ingestion test passed: No new rows added on re-ingestion.")

AssertionError: Test failed: 11 duplicate rows were added!

In [20]:
import logging

In [ ]:
# Simulate silver_df as already ingested data
silver_df = pd.DataFrame({...})  # your initial data

# First load - count records
initial_count = silver_df.drop_duplicates(subset=["transaction_id"]).shape[0]

# Simulate duplicate ingestion
df2 = df.copy()
silver_df2 = pd.concat([silver_df, df2], ignore_index=True)

# Drop duplicates based on transaction_id
final_df = silver_df2.drop_duplicates(subset=["transaction_id"])
final_count = final_df.shape[0]

# Assert idempotency
assert initial_count == final_count, "❌ Duplicate records were added!"
print("✅ Duplicate ingestion test passed - Silver is idempotent")

In [23]:
def test_transaction_dates_are_valid():
    assert df2['transaction_date'].notna().all(), "Some transaction_date values are invalid"
    logging.info("✅ All transaction_date values are valid.")
    print("✅ All transaction_date values are valid.")
    
# print()
test_transaction_dates_are_valid()

✅ All transaction_date values are valid.